div.audio-meta { vertical-align: baseline; }
div.audio-player { padding: 5px 0 0 0; }
div #footer small { color: #999; }
body {background-color: #f1f2f6;}

.content img { margin-top: 50px;
               margin-bottom: 50px;}
