<div class="page-header">

<center>
  <a href="https://alpha.panoptikum.io" class="btn btn-normal btn-lg">
    Give it a try!
  </a>
</center>
</div>

<p class="text-center">
  <img width="200px"
       src="{{ site.url }}/img/logo.png"
       alt="{{ site.title }} logo">
</p>

<h3>
  {{ site.title }}
  {% if site.subtitle %}
    <br/><small>{{ site.subtitle }}</small>
  {% endif %}
</h3>

{% assign post = site.posts.first %}
  <div class="caption">
    <h3>Latest News</h3>
    <b><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></b> -
    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    {{ post.excerpt }}
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">...</a>
  </div>

<hr/>

<h4>License</h4>

<a rel="license"
   href="http://creativecommons.org/licenses/by-sa/4.0/">
  <img alt="Creative Commons License"
       style="border-width:0"
       src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
</a><br />
This work is licensed under a
<a rel="license"
   href="http://creativecommons.org/licenses/by-sa/4.0/">
  Creative Commons Attribution-ShareAlike 4.0 International License
</a>.
<hr/>

{% if site.flattr_uid %}
  <span class="pull-left">{{ site | flattr_button }}</span>
{% endif %}

{% if site.twitter_nick %}
  <a href="https://twitter.com/{{ site.twitter_nick }}" class="twitter-follow-button" data-show-count="false">Follow @{{ site.twitter_nick }}</a>
{% endif %}
