<aside class="menu">
  <p class="title is-5">
    <a href="https://panoptikum.social" class="has-text-inherit">
      <img src="https://panoptikum.social/images/panoptikum.social.png" width="30" alt="Logo">
      Panoptikum.social
    </a>
  </p>

  <ul class="menu-list">
    <li><a href="/">About</a></li>
    <li>
      <details{% if page.url == "/listener-manual/" or page.url == "/podcaster-manual/" %} open{% endif %}>
        <summary class="menu-item">Manuals</summary>
        <ul>
          <li><a href="/listener-manual">... for Listeners</a></li>
          <li><a href="/podcaster-manual">... for Podcasters</a></li>
        </ul>
      </details>
    </li>

    <li><a href="/api">API</a></li>
    <li><a href="/code_of_conduct">Code Of Conduct</a></li>
    <li><a href="/privacy">Privacy</a></li>
    <li><a href="/complaints">Complaints</a></li>
    <li><a href="/talks">Talks</a></li>
    <li><a href="/imprint">Imprint</a></li>

    <li>
      <details{% if page.layout == "post" or page.url == "/blog/" %} open{% endif %}>
        <summary class="menu-item">Blog</summary>
        <ul>
          {% for post in site.posts limit: 999%}
            <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </details>
    </li>

    <li>
      <details>
        <summary class="menu-item">Supported By</summary>
        <ul>
          <li><a href="https://www.informatom.com">Stefan a.k.a. Informatom</a></li>
          <li><a href="https://www.waldgruber.at">Community Manager Sonja</a></li>
          <li><a href="https://carmenh.dev/">Bot Expert Carmen</a></li>
          <li><a href="https://www.mittenin.at">Mittenin.at</a></li>
        </ul>
      </details>
    </li>

    <li><a href="{{ site.pan_url }}">Back</a></li>
  </ul>
</aside>

<hr/>

{% if site.fediverse_url %}
  <a rel="me" href="{{ site.fediverse_url }}"
     class="button is-primary is-small">
    <i class="lab la-mastodon"></i> Follow {{ site.fediverse_url | fediverse_handle }}
  </a>
{% endif %}
